table {
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
}

.puissance{
    display:inline-block;
}

.joueur{
    display: inline-block;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 240px;
}

.player1{
    display: block;
    text-align: center;
    margin: 100px 0px 0px;
}

.player2{
    display: block;
    text-align: center;
    margin: 10px;
}

